@keyframes lttrspc {
    from {
        letter-spacing: 3.5vw;
    }

    to {
        letter-spacing: 2vw;
    }
}

@keyframes slidedown {
    from {
        opacity: 0;
        position: relative;
        top: -1rem;
    }

    to {
        opacity: 1;
        position: relative;
        top: 0rem;
    }
}
